<div class='page'>
  <h1>Job Tracker</h1>

  <h3> Jobs by Interest </h3>
  <% @level_of_interest.each do |interest, count|  %>
  <ul>
    <li>Interest level <%= interest %> = <%= count %> job(s) </li>
  </ul>
  <% end %>

  <% @top_three_companies.each do |company| %>
  <ul>
    <li><%= company.name %> <%= company.jobs.average(:level_of_interest) %></li>
  </ul>
  <% end %>
</div>

