<h2>All Jobs</h2>

<% @jobs.each do |job| %>
  <ul><%= link_to job.title, job_path(job) %></ul>
<% end %>

<%= link_to 'Create a New Job', new_job_path %><br/>
<%= link_to '<< Back to Company List', companies_path %>
