<section class="edit_company">
  <h2>Edit <%= @company.name %> here!</h2>

  <div class="edit_form">
    <%= render partial: "form" %><br>
  </div>
  
  <h4><%= link_to '<< Back to Company List', companies_path %></h4>
</section>
