body {
  background-color: #FFA542;
  font-family: 'Monaco';
}

nav {
  background-color: #62929E;
  display: inline-block;
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

nav p {
  padding-left: 30px;
  float: left;
  font-size: 25px;
}

nav li {
  display: inline;
  float: right;
  font-size: 15px;
  margin-top: 10px;
}

nav li a {
  padding: 15px;
}

.form {
  display: grid;
  justify-content: center;
}

.form div {
  padding: 20px;
  align-content: left;
}

.title-line {
  display: inline;
  padding-right: 10px;
}

.companies p {
  display: inline;
  padding-right: 15px;
  font-size: 15px;
}

.categories p {
  display: inline;
  padding-right: 10px;
}

.new_job h3 {
  font-size: 20px;
  font-family: Georgia sans-serif;
  text-align: right;
}

.new_job h4 {
  font-size: 20px;
  font-family: Georgia sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* #new_form {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-direction: wrap;
} */

.index_job ul {
  padding-left: 520px;
  font-family: Georgia;
  font-size: 15px;
}

.index_job p {
  padding-left: 450px;
  font-family: Georgia;
  font-size: 18px;
}

.show_job h4 {
  text-align: right;
  font-size: 14px;
  font-family: Georgia;
}

.show_job p {
  text-align: center;
  font-size: 18px;
  font-family: Georgia;
}

.show_job h3 {
  font-size: 12px;
}

.edit_job h4 {
  text-align: left;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  background: #FFAE5C;
  height: 50px;
}

.dashboard_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  padding-top: 50px;
}

#box_companies {
  border-radius: 25px;
  border: 2px solid #996935;
  padding: 20px;
  width: 200px;
  height: 170px;
}

#box_interest {
  border-radius: 25px;
  border: 2px solid #996935;
  padding: 20px;
  width: 200px;
  height: 170px;
}

#box_cities {
  border-radius: 25px;
  border: 2px solid #996935;
  padding: 20px;
  width: 200px;
  height: 170px;
}

.contacts {
  text-align: center;
}

.new_company h4 {
  text-align: left;
}

.show_company {
  text-align: center;
}

.companies {
  text-align: center;
}

.edit_form {
  text-align: center;
  height: 300px;
  font-size: 30px;
}

.show_category {
  text-align: center;
  padding: 10px;
}

#company_form {
  text-align: center;
  padding-top: 50px;
}

.new_category h4 {
  padding-top: 150px;
}

.categories {
  text-align: center;
  padding-top: 40px;
  font-size: 15px;
}

.index_cat h4 {
  padding-top: 150px;
}

.form_edit {
  text-align: center;
  padding-top: 30px;
}

.edit_cat h3 {
  padding-top: 200px;
}
