<section class="edit_cat">
  <h1> Edit <%= @category.title %> </h1>

  <div class="form_edit">
    <%= render partial: "form" %><br/>
  </div>

  <h3><%= link_to '<< Back to Category List', categories_path %></h3>
</section>
