<div class='page'>
  <h1>Job Categories</h1>

  <div class='categories'>
    <% @categories.each do |category| %>
      <p><%= link_to category.title, category_path(category) %></p>
      <p><%= link_to "Edit", edit_category_path(category) %></p>
      <p><%= link_to "Delete", category_path(category), method: "delete" %></p><br/><br/>
    <% end %>
  </div>

  <h4><%= link_to 'Create a New Category', new_category_path %></h4>
</div>
