<section class="new_category">
  <h2> Create a new category here!</h2>

  <div id="company_form">
    <%= render partial: "form" %><br/>
  </div>

  <h4><%= link_to '<< Back to Category List', categories_path %></h4>
</section>
