<section class="new_category">
  <h1> Create a new category here!</h1>

    <%= render partial: "form" %><br/>

  <div class="back_button">
    <%= link_to '<< Back to Category List', categories_path %>
  </div>
</section>
