  <h1><%= @category.title %></h1>

<section class="show_category">
  <% @jobs.each do |job| %>
    <div class="show_every_jobs">
      <%= link_to "#{job.title} at #{job.company.name}", job_path(job) %><br/>
    </div>
  <% end %>
  <br/><br/>
</section>

<div class="back_button">
  <%= link_to '<< Back to Category List', categories_path %>
</div>
